name: Show File Content

on:
  workflow_dispatch:

jobs:
  show:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Debug files
        run: |
          pwd
          ls -R

      - name: Display file content
        run: cat sample.txt
