name: Show File Content

on:
  workflow_dispatch

jobs:
  show:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Debug files
        run: |
          pwd
          ls -R

      - name: Display file content
        run: cat sample.txt
      - name: Print GitHub Context
        run: |
        echo "Run ID: ${{ github.run_id }}"
        echo "Run Number: ${{ github.run_number }}"
        echo "Job Name: ${{ github.job }}"
        echo "Workflow: ${{ github.workflow }}"
